@using System.Security.Claims
@using Gymbokning.Models.ViewModels
@model GymClassesIndexViewModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (User.IsInRole("Admin"))
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

<p>
	<input type="checkbox" id="cbShowHistory" name="showHistory" />
	<label for="showHistory">Show Class History</label>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UpcomingGymClasses.First().Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpcomingGymClasses.First().StartTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpcomingGymClasses.First().Duration)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpcomingGymClasses.First().Description)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<tr id="oldClassesHeader" class="oldClassesVisibility">
		<th colspan="5">Old classes</th>
		</tr>
		@foreach (var item in Model.OldGymClasses)
		{
			<tr id="oldClassesContent" class="oldClasses oldClassesVisibility">
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td class="oldClassesStroked">
					@Html.DisplayFor(modelItem => item.StartTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Duration)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@if (User.Identity.IsAuthenticated)
					{
						<a asp-action="Details" asp-route-id="@item.Id">Details</a>

						@if (User.IsInRole("Admin"))
						{
							@Html.Raw("|")
							<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
							<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						}
					}
				</td>
			</tr>
		}
		
		<tr>
		<th colspan="5">Upcoming classes</th>
		</tr>
		@foreach (var item in Model.UpcomingGymClasses)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Duration)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@if (User.Identity.IsAuthenticated)
					{
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> @Html.Raw("|")

						var memberAlreadyBooked = item.AttendingMembers.FirstOrDefault(m => m.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier)) != null;

						@if (memberAlreadyBooked)
						{
							<a asp-action="BookingToggle" asp-route-id="@item.Id">Unbook</a>
						}
						else
						{
							<a asp-action="BookingToggle" asp-route-id="@item.Id">Book</a>
						}
						@if (User.IsInRole("Admin"))
						{
							@Html.Raw("|")
							<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
							<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						}
					}
				</td>
			</tr>
		}
	</tbody>
</table>
